header img{
    height:75px;
    width:175px;
    padding-left:30px;
}
#menu li{
    display:inline;
    padding:30px 30px 30px 30px;
    text-align: center;
    position: relative;
    text-decoration-color:black;
    font-weight: bold;
    font-size: 80%;
}
header{
    background-color: white;
    display:flex;
}
#menu li a{
    text-decoration: none;
    font-family:sans-serif;
    color:black;
    border:2px solid transparent;

}
#menu li a:hover{
    color: rgb(247, 8, 8);
}
.button2{
    font-family: sans-serif;
    border-radius:20px;
    background-color: rgb(247, 8, 8);
    color:white;
    padding:10px 15px 10px 15px;
    border:3px solid;
    border-color: rgb(247, 8, 8);

}
.button2:hover{
    background-color:white;
    color:rgb(247, 8, 8);
    border:10px;
    transition: 1s;
}
.line1{
    font-family:sans-serif;
    font-size:15px;
    text-align: justify;
    margin: 20px;
    margin-left: 20%;
}
h1{
    font-size:50px;
    font-family: sans-serif;
    text-align: justify;
    margin: 20px;
    margin-left: 20%;
}
.line2{
    font-family:sans-serif;
    font-size:15px;
    text-align: justify;
    margin: 20px;
    margin-left: 20%;
    border-left:50%;
}
#new{
    height: 350px;
    width:700px;
    float:inline-end;
    margin-left: 40%;
    margin-right: 20%;
}
.what{
    text-decoration: none;
    font-family:sans-serif;
    font-size:15px;
    text-align: justify;
    margin: 10px;
    margin-left: 20%;
    color:black

}
.soft{
    margin-left: 100px;
    margin-right: 150px;
    padding-top: 100px;
}
#ware{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 25px;
}
.about{
    padding-top: 150px; ;
    margin-left: 150px;
    margin-right: 200px;
    margin-bottom: 200px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 25px;
}
#trust{
    padding-top: 150px;
}
#tech{
    float:right;
    width:200px; 
    height:300px;
}
#prove{
    text-align:left;
    font-size: 50px;
    color:black;
    line-height:60px;
}
#more{
    margin:100px 60px 300px 60px;
    font-family: sans-serif;
    font-size:10px ;
    line-height:20px;
}
#tech2{
    float:right;
    width:600px; 
    height:400px;
}
#we{
    font-size: 40px;
    font-family: sans-serif;
    color:black;
    font-style: bold;
}
#tech3{
    float:left;
    width:700px;
    height:450;
}
#content{
    font-family: sans-serif;
    font-size: 15px;
}
#button{
    text-decoration: none;
    color: black;
}
#para{
    font-size: 10px;
    text-align: right;
    font-family: sans-serif;
}
.form1{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 17px;
    font-family: sans-serif;
    padding-top: 100px;
}
.form2{
    background-color:rgb(242, 242, 242);
    font-size: 15px;
    font-family: sans-serif;

}
.form3{
    margin:10px;
    padding:15px;
}
#submit{
    
    background-color: orange;
    border:10px solid orange;
    border-radius: 5px;
    font-family: sans-serif;
    color: white;
}
